{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}

{% block body %}
    <h1>FilmsController index</h1>
    <p>Find me in: templates/films/index.html.twig</p>
    <p>Controller: <code>{{ controller_name }}</code></p>
    <p>Route: <code>{{ path('films_index') }}</code></p>
    <p>URL: <code>{{ url('films_index') }}</code></p>
    <p>Route: <code>{{ path('films_show', {id: 1}) }}</code></p>
    <p>URL: <code>{{ url('films_show', {id: 1}) }}</code></p>
    <p>Route: <code>{{ path('films_new') }}</code></p>
    <p>URL: <code>{{ url('films_new') }}</code></p>
    <p>Route: <code>{{ path('films_edit', {id: 1}) }}</code></p>
    <p>URL: <code>{{ url('films_edit', {id: 1}) }}</code></p>
    <p>Route: <code>{{ path('films_delete', {id: 1}) }}</code></p>
    <p>URL: <code>{{ url('films_delete', {id: 1}) }}</code></p>
    <p>Route: <code>{{ path('films_show', {id: 1}) }}</code></p>
    <p>URL: <code>{{ url('films_show', {id: 1}) }}</code></p>
    <p>Route: <code>{{ path('films_show', {id: 1}) }}</code></p>
    <p>URL: <code>{{ url('films_show', {id: 1}) }}</code></p>
    <p>Route: <code>{{ path('films_show', {id: 1}) }}</code></p>
    <p>URL: <code>{{ url('films_show', {id: 1}) }}</code></p>
    <p>Route: <code>{{ path('films_show', {id: 1}) }}</code></p>
    <p>URL: <code>{{ url('films_show', {id: 1}) }}</code></p>
    <p>Route: <code>{{ path('films_show', {id: 1}) }}</code></p>
{% endblock %}
